@import url('//fonts.googleapis.com/css2?family=Inter:wght@200;500;700;900&family=Satisfy&display=swap');

html {
    font-family: $bodyFontFamily;
    font-size: 62.5%; // root fs: 10px
    font-weight: 500;

    body {
        font-size: $bodyFontSize;
        line-height: $bodyLineHeight;

        header {
            position: relative;
            z-index: 10
        }

        section {
            padding: $sectionPadding 0;
            position: relative;
    
            @include media('>desktop') {
                padding: $sectionPaddingD 0;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            display: flex;
        }

        a {
            &.dark {
                @include transition(all, 500ms, ease-in-out);
            }
            &.light {
                @include transition(all, 500ms, ease-in-out);
            }
        }

        .container {
            max-width: $bodyMaxWidth;
            margin: 0 auto;
            padding: 0 $containerPadding;
        }

        .h1 {
            font-family: 'Satisfy', cursive;
            font-size: 4.8rem;

            @include media('>desktop') {
                font-size: 12rem
            }
        }
        .h2 {
            font-size: 4rem;
            font-family: 'Satisfy', cursive;

            @include media('>desktop') {
                font-size: 8rem
            }
        }
        .h3 {
            font-size: 3.2rem;

            @include media('>desktop') {
                font-size: 5.4rem;
            }
        }
        .h4 {
            font-size: 2.5rem;

            @include media('>desktop') {
                font-size: 3.6rem;
            }
        }
    }
}
