html {
    background-color: $navy;
    color: $white;

    body {
        overflow: auto;
        @include transition(all, 500ms, ease-in-out);

        &.noScroll {
            overflow: hidden;
        }
    }

    .h1 {
        font-size: 10rem;
    }
    a, button {
        padding: 0 4px;
        font-weight: 200;
        text-decoration: none;
        outline: none;
        background-color: transparent;
        border: 0px;

        &.dark {
            color: $navy;
            position: relative;

            &::before {
                content: ' ';
                @include absolute(block, 100%, 2px, auto);
                bottom: 0px;
                z-index: -1;
                background-color: $pink;
                opacity: 0.7;
                @include transition(all, 300ms, ease-in-out);
            }
            
            &:hover, &:focus {
                color: $navy;
                
                &::before {
                    background-color: $orange;
                    height: 15px;
                }
            }
        }
        &.light {
            color: $white;
            position: relative;

            &::before {
                content: ' ';
                @include absolute(block, 100%, 2px, auto);
                bottom: 0px;
                z-index: -1;
                background-color: $pink;
                opacity: 0.7;
                @include transition(all, 500ms, ease-in-out);
            }
            
            &:hover, &:focus {
                color: $white;
                
                &::before {
                    background-color: $orange;
                    height: 30px;
                }
            }
        }
        &.text__link--external {
            font-weight: 500;
            position: relative;
            @include flex(row, center, flex-start);
            padding-bottom: 3px;

            &::before {
                content: ' ';
                display: block;
                position: absolute;
                bottom: 0px;
                width: 0;
                height: 2px;
                background-color: $pink;
                @include transition(width, 300ms, ease-in-out);
            }

            .box {
                display: block;
                position: relative;
                width: 10px;
                height: 10px;
                border: 2px solid $pink;
                border-radius: 2px;
                margin-left: 10px;
                

                span.arrow {
                    color: $white !important;
                }

                &::before {
                    content: ' ';
                    display: block;
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    top: -3px;
                    right: -3px;
                    background-color: $purple;

                }

                .arrow {
                    display: block;
                    position: absolute;
                    transform: rotate(-45deg);
                    top: -12px;
                    right: -6px;
                    font-size: 1.4rem;
                    font-weight: 500;
                }
            }

            &:hover, &:focus {
                &::before {
                    width: 100%;
                }
            }
        }
    }
    
    
    //------------------------------//
    // Main Menu - Styles / Animation
    //------------------------------//
    .header__nav > ul {
        position: fixed;
        left: 10%;
        width: 80%;
        height: 100vh;
        margin: 0 auto;
        @include flex(column, flex-start, center);
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        @include transition(all, 500ms, ease-in-out);

        li a {
            font-size: 6rem;
            display: block;
        }

        li:last-child ul {
            margin-top: 30px;

            li {
                font-size: 0;
                line-height: 0;
                margin-right: 30px;
                position: relative;
                @include flex(row, flex-end, flex-start);
                a {
                    padding: 10px;
                    display: block;
                    width: 50px;
                    height: 50px;
                    border: 2px solid $white;
                    border-radius: 50%;
                    opacity: 0.5;
                    @include flex(column, center, center);

                    &::before {
                        content: none;
                        
                    }

                    &:hover, &:focus {
                        border: 2px solid $orange;
                        opacity: 1;
                    }

                    svg {
                        width: 100%;
                        fill: $white;
                    }
                }
            }
        }
    }
    #header__btn--toggle {
        display: inline-block;
        cursor: pointer;
        position: fixed;
        z-index: 11;
        right: 20px;
        top: 20px;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        padding: 0;
        background: $darkNavy;
        border: 2px solid $white;
        box-shadow: 0px 4px 24px rgba($darkNavy, 0.24);
        line-height: 0.6;
        text-align: center;
        opacity: 0.5;
        transition: all 0.3s;

        > span {
            // the second divider
            display: inline-block;
            position: relative;
            height: 2px;
            width: 24px;
            border-radius: 1px;
            background: $white;
            vertical-align: middle;
            margin-top: -2px;
            
            // the first & the third dividers
            &:before, &:after {
                display: inline-block;
                position: absolute;
                content: "";
                height: 2px;
                border-radius: 1px;
                background: $white;
                // for the hover state
                transition: all 200ms;
            }
            &:before {
                top: -9px;
                left: 3px;
                width: 18px;
            }
            &:after {
                top: 9px;
                left: 3px;
                width: 18px;
            }
        }

        &:hover, &:focus {
            opacity: 1;
            border: 2px solid $orange;
        }
	
        &:hover > span:after, &:hover > span:before {
            width: 24px;
            left: 0;
        }
    }
    .header__nav:before {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        content: '';
        width: 100vw;
        height: 100vh;
        background: rgba($darkNavy, 1);
        transition: all 500ms ease-in-out;
        z-index: 2; 
        clip-path: circle(20px at calc(100% - 40px) 40px);
        // for AT
        visibility: hidden;
    }

    .header__menu.active {
        .header__nav:before {
            visibility: visible;
            clip-path: circle(100%);
        }
        #header__btn--toggle {
            & > span {
                height: 0;
            &:after, &:before {
                top: -2px;
                left: 0;
                width: 24px;
            }
            &:after {
                transform: rotate(-45deg);
            }
            &:before {
                transform: rotate(45deg);
            }
            }
        }
        .header__nav > ul {
            visibility: visible;
            opacity: 1;
            z-index: 2;
        }
    }


    //------------------------------------//
    // Home: Landing  - Styles / Animation
    //------------------------------------//
    #landing {
        background-color: $purple;

        & > .container {
            position: relative;
            z-index: 1;
        }

        .intro {
            height: 100vh;
            @include flex(column, center, center);
        }
        .about {
            background-color: rgba($darkNavy, 0.4);
            padding: 30px;
            margin-bottom: 120px;

            @include flex(column, flex-start, center);

            @include media('>desktop') {
                @include flex(row-reverse, center, space-between);
                margin-left: 25%;
                padding: 60px;

                h2 {
                    padding-left: 60px;
                }
            }
        }
        .skills {
            h3 {
                text-align: center;
                margin-bottom: 30px;
                
            }
            .skills-row {
                @include flex(column, flex-start, center);
                & > div {
                    width: 100%;
                    margin-bottom: 40px;
                }

                // @include media('>desktop') {
                //     @include flex(row, flex-start, space-between);
                // }
                h4 {
                    margin-bottom: 20px;
                    border-bottom: 2px solid $pink;
                }

                ul {
                    @include flex(column, flex-start, center);
                    width: calc(25% - 30px);



                    li {
                        margin-bottom: 30px;
                        position: relative;
                        width: 100%;
                        font-size: 1.4rem;
                        font-weight: 500;

                        &::before {
                            content: " ";
                            display: block;
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            height: 50%;
                            background-color: $darkNavy;
                            opacity: 0.5;
                            z-index: -1;
                        }
                        

                        &.skill-20 {
                            span {
                                &::before {
                                    width: 20%;
                                }
                            }
                            
                        }
                        &.skill-40 {
                            span {
                                &::before {
                                    width: 40%;
                                }
                            }
                        }
                        &.skill-60 {
                            span {
                                &::before {
                                    width: 60%;
                                }
                            }
                        }
                        &.skill-80 {
                            span {
                                &::before {
                                    width: 80%;
                                }
                            }
                        }

                        span {
                            display: block;
                            width: 100%;
                            padding-left: 15px;

                            &::before {
                                content: " ";
                                display: block;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 50%;
                                background-color: $orange;
                                opacity: 0.6;
                                z-index: -1;
                            }
                            
                        }

                    }
                }
                .scroll-wrapper {
                    overflow-x: scroll;
                    position: relative;
                    border-right: 2px solid rgba($navy, 0.6);
                    
                    @include media('>tablet') {
                        overflow-x: initial;
                        border-right: 0px;
                    }
                    @include media('>desktop') {
                        
                    }

                }
                .wrapper {
                    @include flex(row, center, space-between);
                    width: 1200px;
                    padding-right: 30px;

                    @include media('>tablet') {
                        width: 100%;
                        padding-right: 0;
                        
                    }
                    @include media('>desktop') {
                        
                    }
                }
                .skills-dev {
                    @include media('>tablet') {
                        .scroll-wrapper {
                            .wrapper {
                                flex-wrap: wrap;
    
                                ul {
                                    width: calc(50% - 30px);
                                }
                            }
                        }
                    }
                    @include media('>desktop') {
                        .scroll-wrapper {
                            .wrapper {
                                flex-wrap: nowrap;

                                ul {
                                    width: calc(25% - 30px);
                                }
                                
                            }
                        }
                    }
                }
                .skills-ill ul {
                    @include flex(row, center, space-between);
                    width: 100%;

                    li {
                        width: calc(25% - 30px);
                    }
                }
            }
        }
    }


    //--------------------------------------//
    // Home: Portfolio - Styles / Animation
    //--------------------------------------//
    #portfolio {
        background-color: $white;
        color: $navy;
        position: relative;
        z-index: 8;

        .container {
            @include media('>desktop') {
                @include flex(row, stretch, space-between);
            }
        }
        .h2 {
            margin-bottom: 20px;
            @include media('>desktop') {
                font-size: 6.5rem;
                line-height: 1.1;
            }
        }
        nav ul {
            @include flex(column, flex-start, center);
            position: relative;
            margin-right: 45px;
            margin-bottom: 2vh;

            @include media('>desktop') {
                height: 400px;
                margin-bottom: 0;
            }

            li {
                margin-bottom: 20px;

                button {
                    
                    &.dark {
                        text-decoration: none;
                        font-size: 3rem;
    
                        &:hover, &:focus {
                            &::before {
                                height: 15px;
                            }
                        }

                        &:disabled {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }

        .portfolio__showcase {
            width: 100%;
            position: relative;

            @include media('>desktop') {
                @include flex(row, flex-start, space-between);
                
            }
            
            & > ul {
                @include flex(column, flex-start, space-between);
                width: 100%;
                
                @include media('>tablet') {
                    @include flex(row, stretch, space-between);
                    flex-wrap: wrap;
                    min-height: 675px;
                    position: relative;
                }
                @include media('>desktop') {
                    min-height: 615px;
                }

                & > li {
                    background-color: $navy;
                    width: 100%;
                    height: 100%;
                    margin-bottom: 20px;
                    box-shadow: 0px 5px 12px -4px $purple;
                    
                    // Obsidian
                    &:first-child {
                        background-color: #000;
                        

                        a {
                            aspect-ratio: 4 / 3;

                        }

                        @include media('>tablet') {
                            width: 50%;
                        }
                    }
                    // UPenn
                    &:nth-child(2) {
                        a {
                            aspect-ratio: 16/9;
                        }

                        @include media('>tablet') {
                            position: absolute;
                            width: 66.6666%;
                            height: auto;
                            bottom: 5%;
                            right: 15%;
                        }
                    }

                    // Congaree
                    &:last-child {
                        background-color: $white;

                        @include media('>tablet') {
                            width: 33.3333%;
                            height: auto;
                            position: absolute;
                            top: 5%;
                            right: 10%;
                        }

                        @include  media('>desktop') {
                            top: 8%;
                        }

                        a {
                            aspect-ratio: 2 / 1;
                            @include flex(column, center, center);
                            padding: 60px 30px;

                            @include media('>tablet') {
                                aspect-ratio: 1 / 1;
                            }
                        }
                    }

                    & > a {
                        display: block;

                        img {
                            width: 100%;
                        }
                    }
                }


            }


            .info {
                @include flex(row, center, space-between);
                width: 100%;
                height: 75px;
                padding: 10px;
                position: absolute;
                z-index: 2;
                background-color: $white;
                font-weight: 500;
                font-weight: 1.6rem;

                p {
                    padding-right: 5px;
                }
            }
        }
    }


    //------------------------//
    // Work: Styles
    //------------------------//

    .work {
        background-image: radial-gradient(circle, #122348 0%, #061832 90%);
    }

    // Layout-1 Styles //
    .work__layout--1 {
        .container {
            @include flex(column, flex-start, center);

            @include media('>desktop') {
                @include flex(row-re, flex-start, space-between);
            }
        }
        
        .work__intro {
            width: 100%;
            position: relative;
            @include media('>tablet') {
                height: 700px;
            }

            @include media('>desktop') {
                width: calc(66.666% - 15px);
                height: 900px;
            }

            img {
                width: 100%;
            }

            a {
                color: $white;
            }
            .wrapper {
                width: 100%;

                @include media('>tablet') {

                }
                @include media('>desktop') {

                }
            }
            .work__intro--d1 {
                display: none;
                aspect-ratio: 4 / 3;
                overflow: hidden;
                
                &::after {
                    content: ' ';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(180deg, #ff554f 10%, #ff9153 90%);
                    opacity: 0.5;
                }

                img {
                    width: 140%;
                }

                @include media('>tablet') {    
                    display: block;
                    width: 33.3333%;
                    position: absolute;

                    
                }
                @include media('>desktop') {
                    left: 0;
                }
            }

            .work__intro--d2 {
                aspect-ratio: 16 / 9;
                overflow: hidden;

                @include media('>tablet') {
                    width: calc(100% - 30px);
                    position: absolute;
                    top: 30%;
                    left: 5%;

                    img {
                        width: 125%;
                    }
                }
                @include media('>desktop') {
                    top: 18%;
                }
            }

            .work__intro--info {
                display: block;
                background-color: $purple;
                padding: 15px 15px 30px;
                border-bottom: 2px solid $pink;
                overflow: hidden;
                position: relative;
                box-shadow: 0px 10px 18px -4px $darkNavy;

                @include media('>tablet') {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
                @include media('>desktop') {
                    bottom: 20%;
                    right: 5%;
                }

                ul {
                    @include flex(column, flex-start, flex-start);
                    position: relative;
                    z-index: 3;

                    li {
                        // margin-bottom: 15px;
                        font-size: 1.4rem;
                        @include flex(row, first-baseline, flex-start);

                        &:last-child {
                            padding: 30px 0 0;
                            margin-bottom: 0;

                            a.text__link--external {
                                font-size: 1.8rem;
                            }
                        }

                        

                        span {
                            font-weight: 500;
                            color: $orange;
                        }
                        
                        
                    }
                }
            }
        }

        .work__about {
            margin-top: 60px;
            width: 100%;
            background-color: rgba($white, 0.9);
            color: $darkNavy;
            padding: 30px 15px 45px;

            @include media('>desktop') {
                width: calc(33.3333% - 15px);
            }

            .work__about--heading {
                position: relative;
                margin-bottom: 30px;
                position: relative;
                z-index: 2;

                &::before {
                    content: ' ';
                    display: block;
                    position: absolute;
                    bottom: 10px;
                    width: 100%;
                    height: 2px;
                    background-color: $pink;
                    z-index: -1;
                }
            }

            p {
                font-size: 20px;
                margin-bottom: 15px;

                @include media('>desktop') {
                    font-size: 1.6rem;
                }
            }
        }
    }

   // Layout-2 Styles //
    .work__layout--2 {
        .container {
            @include flex(column, flex-start, center);

            @include media('>desktop') {
                @include flex(row-reverse, flex-start, space-between);
            }
        }
        .work__intro {
            width: 100%;
            position: relative;
            @include media('>tablet') {
                height: 800px;
            }

            @include media('>desktop') {
                width: calc(66.666% - 15px);
                height: 900px;
            }

            img {
                width: 100%;
            }

            a {
                color: $white;
            }

            .work__intro--d1 {
                display: none;
                aspect-ratio: 4 / 3;
                overflow: hidden;
                z-index: 2;
                

                &::after {
                    content: ' ';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(180deg, #ff554f 10%, #ff9153 90%);
                    opacity: 0.5;
                }

                img {
                    width: 140%;
                }

                @include media('>tablet') {    
                    display: block;
                    width: 33.3333%;
                    position: absolute;
                    bottom: 15%;
                    right: 8%; 
                    z-index: 1;
                    
                }
                @include media('>desktop') {
                    right: 10%;
                    bottom: 20%;
                }
            }

            .work__intro--d2 {
                aspect-ratio: 16 / 9;
                overflow: hidden;

                @include media('>tablet') {
                    position: absolute; 
                    width: 100%;
                    margin: 0 auto;

                    img {
                        width: 100%;
                    }
                }
                @include media('>desktop') {
                    top: 60px;
                }
            }

            .work__intro--info {
                display: block;
                background-color: $purple;
                padding: 15px 15px 30px;
                border-bottom: 2px solid $pink;
                overflow: hidden;
                position: relative;
                box-shadow: 0px 10px 18px -4px $darkNavy;
                z-index: 3;

                @include media('>tablet') {
                    position: absolute;
                    bottom: 0;
                    left: 10%;
                    width: 50%
                }
                @include media('>desktop') {
                    bottom: 33%;
                    left: 15px;
                    width: 75%;
                }

                ul {
                    @include flex(column, flex-start, flex-start);
                    position: relative;
                    z-index: 3;

                    li {
                        margin-bottom: 15px;
                        font-size: 1.4rem;
                        @include flex(row, first-baseline, flex-start);

                        &:last-child {
                            padding: 30px 0 0;
                            margin-bottom: 0;

                            a.text__link--external {
                                font-size: 1.8rem;
                            }
                        }

                        

                        span {
                            font-weight: 500;
                            color: $orange;
                        }
                        
                        
                    }
                }
            }
        }
        .work__about {
            margin-top: 60px;
            width: 100%;
            background-color: rgba($white, 0.9);
            color: $darkNavy;
            padding: 30px 15px 45px;

            @include media('>desktop') {
                width: calc(33.3333% - 15px);
            }

            .work__about--heading {
                position: relative;
                margin-bottom: 30px;
                position: relative;
                z-index: 2;

                &::before {
                    content: ' ';
                    display: block;
                    position: absolute;
                    bottom: 10px;
                    width: 100%;
                    height: 2px;
                    background-color: $pink;
                    z-index: -1;
                }
            }

            p {
                font-size: 20px;
                margin-bottom: 15px;

                @include media('>desktop') {
                    font-size: 1.6rem;
                }
            }
        }
    }

    // Layout-3 Styles //
    .work__layout--3 {
        .container {
            @include flex(column, flex-start, center);

            @include media('>desktop') {
                @include flex(row-reverse, center, space-between);
            }
        }
        .work__intro {
            width: 100%;
            position: relative;
            @include media('>tablet') {
                height: 800px;
            }

            @include media('>desktop') {
                width: calc(66.666% - 15px);
                height: 900px;
            }

            img {
                width: 100%;
            }

            a {
                color: $white;
            }

            .work__intro--d1 {
                display: none;
                aspect-ratio: 4 / 3;
                overflow: hidden;
                z-index: 2;
                

                &::after {
                    content: ' ';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(180deg, #ff554f 10%, #ff9153 90%);
                    opacity: 0.5;
                }

                img {
                    width: 140%;
                }

                @include media('>tablet') {    
                    display: block;
                    width: 33.3333%;
                    position: absolute;
                    bottom: 15%;
                    right: 8%; 
                    z-index: 4;
                    
                }
                @include media('>desktop') {
                    right: 5%;
                    bottom: 37%;
                }
            }

            .work__intro--d2 {
                aspect-ratio: 16 / 9;
                overflow: hidden;

                @include media('>tablet') {
                    position: absolute; 
                    width: 100%;
                    margin: 0 auto;

                    img {
                        width: 100%;
                    }
                }
                @include media('>desktop') {
                    top: 60px;
                }
            }

            .work__intro--info {
                display: block;
                background-color: $purple;
                padding: 15px 15px 30px;
                border-bottom: 2px solid $pink;
                overflow: hidden;
                position: relative;
                box-shadow: 0px 10px 18px -4px $darkNavy;
                z-index: 3;

                @include media('>tablet') {
                    position: absolute;
                    bottom: 0;
                    left: 10%;
                    width: 50%
                }
                @include media('>desktop') {
                    bottom: 20%;
                    left: 45px;
                    width: 75%;
                    padding: 30px 30px 60px;
                }

                ul {
                    @include flex(column, flex-start, flex-start);
                    position: relative;
                    z-index: 3;

                    li {
                        margin-bottom: 15px;
                        font-size: 1.4rem;
                        @include flex(row, first-baseline, flex-start);

                        &:last-child {
                            padding: 30px 0 0;
                            margin-bottom: 0;

                            a.text__link--external {
                                font-size: 1.8rem;
                            }
                        }

                        

                        span {
                            font-weight: 500;
                            color: $orange;
                        }
                        
                        
                    }
                }
            }
        }
        .work__about {
            margin-top: 60px;
            width: 100%;
            background-color: rgba($white, 0.9);
            color: $darkNavy;
            padding: 30px 15px 45px;

            @include media('>desktop') {
                width: calc(33.3333% - 15px);
            }

            .work__about--heading {
                position: relative;
                margin-bottom: 30px;
                position: relative;
                z-index: 2;

                &::before {
                    content: ' ';
                    display: block;
                    position: absolute;
                    bottom: 10px;
                    width: 100%;
                    height: 2px;
                    background-color: $pink;
                    z-index: -1;
                }
            }

            p {
                font-size: 20px;
                margin-bottom: 15px;

                @include media('>desktop') {
                    font-size: 1.6rem;
                }
            }
        }
    }


    //------------------------//
    // Work: Obsidian Custom
    //------------------------//
    #devObs {
        
        .work__intro--d2 {
            border: 1px solid #444;
        }
    }
} 

