// Colors
$darkNavy: #061832;
$navy: #122348;
$purple: #433554;
$pink: #ff554f;
$orange: #ff9153;
$yellow: #ffdf71;
$white: #fcfbf7;




// Typography
$bodyFontSize: 1.6rem;
$bodyLineHeight: 1.5;
$bodyFontFamily: 'Inter', sans-serif;
$displayFontFamily: 'Satisfy', cursive;

// Container
$bodyMaxWidth: 1200px;
$containerPadding: 30px;

//Section
$sectionPadding: 60px;
$sectionPaddingD: 100px;
