/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("//fonts.googleapis.com/css2?family=Inter:wght@200;500;700;900&family=Satisfy&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  font-weight: 500;
}
html body {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-weight: 200;
}
html body header {
  position: relative;
  z-index: 10;
}
html body section {
  padding: 60px 0;
  position: relative;
}
@media (min-width: 1025px) {
  html body section {
    padding: 100px 0;
  }
}
html body ul {
  margin: 0;
  padding: 0;
  display: flex;
}
html body a.dark {
  transition: all 500ms ease-in-out 0s;
  -moz-transition: all 500ms ease-in-out 0s;
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
}
html body a.light {
  transition: all 500ms ease-in-out 0s;
  -moz-transition: all 500ms ease-in-out 0s;
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
}
html body .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
html body .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
html body .h1 {
  font-family: "Satisfy", cursive;
  font-size: 8rem;
}
@media (min-width: 1025px) {
  html body .h1 {
    font-size: 12rem;
  }
}
html body .h2 {
  font-size: 4rem;
  font-family: "Satisfy", cursive;
}
@media (min-width: 1025px) {
  html body .h2 {
    font-size: 8rem;
  }
}
html body .h3 {
  font-size: 3.2rem;
  font-family: "Satisfy", cursive;
}
@media (min-width: 1025px) {
  html body .h3 {
    font-size: 5.4rem;
  }
}
html body .h4 {
  font-size: 2.5rem;
}
@media (min-width: 1025px) {
  html body .h4 {
    font-size: 3.6rem;
  }
}

/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }
  to {
    background-position: 10000px 0;
  }
}
.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #433554 url("../images/stars.png") repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url("../images/twinkling.png") repeat top center;
  z-index: 1;
  -moz-animation: move-twink-back 400s linear infinite;
  -ms-animation: move-twink-back 400s linear infinite;
  -o-animation: move-twink-back 400s linear infinite;
  -webkit-animation: move-twink-back 400s linear infinite;
  animation: move-twink-back 400s linear infinite;
}

.color-1,
.color-2,
.color-3 {
  position: absolute;
  opacity: 0.2;
  z-index: 1;
}

@keyframes hueRotate {
  to {
    filter: hue-rotate(0deg);
  }
}
@keyframes colour-1 {
  0% {
    top: 0vh;
    left: 50vw;
  }
  25% {
    left: 0vw;
  }
  50% {
    top: 100vh;
  }
  75% {
    left: 100vw;
  }
  100% {
    top: 0vh;
    left: 50vw;
  }
}
@keyframes colour-2 {
  0% {
    top: 50vh;
    left: 100vw;
  }
  25% {
    top: 100vh;
  }
  50% {
    left: 0vw;
  }
  75% {
    top: 0vh;
  }
  100% {
    top: 50vh;
    left: 100vw;
  }
}
@keyframes colour-3 {
  0% {
    top: 100vh;
    left: 50vw;
  }
  25% {
    left: 100vw;
  }
  50% {
    top: 0vh;
  }
  75% {
    left: 0vw;
  }
  100% {
    top: 100vh;
    left: 50vw;
  }
}
.color-1 {
  box-shadow: 0 0 45vmax 45vmax #122348;
  animation: hueRotate 20s 0s linear infinite, colour-1 29s 0s linear infinite;
}

.color-2 {
  box-shadow: 0 0 45vmax 45vmax #ff554f;
  animation: hueRotate 25s 0s linear infinite, colour-2 35s 0s linear infinite;
}

.color-3 {
  box-shadow: 0 0 45vmax 45vmax #ff9153;
  animation: hueRotate 30s 0s linear infinite, colour-3 25s 0s linear infinite;
}

html {
  background-color: #122348;
  color: #fcfbf7;
}
html body {
  overflow: auto;
  transition: all 500ms ease-in-out 0s;
  -moz-transition: all 500ms ease-in-out 0s;
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
}
html body.noScroll {
  overflow: hidden;
}
html .h1 {
  font-size: 10rem;
}
html a {
  padding: 0 4px;
  font-weight: 200;
  text-decoration: none;
}
html a.dark {
  color: #122348;
  position: relative;
}
html a.dark::before {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  top: auto;
  left: 0;
  bottom: 0px;
  z-index: -1;
  background-color: #ff554f;
  opacity: 0.7;
  transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
}
html a.dark:hover, html a.dark:focus {
  color: #122348;
}
html a.dark:hover::before, html a.dark:focus::before {
  background-color: #ff9153;
  height: 15px;
}
html a.light {
  color: #fcfbf7;
  position: relative;
}
html a.light::before {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  top: auto;
  left: 0;
  bottom: 0px;
  z-index: -1;
  background-color: #ff554f;
  opacity: 0.7;
  transition: all 500ms ease-in-out 0s;
  -moz-transition: all 500ms ease-in-out 0s;
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
}
html a.light:hover, html a.light:focus {
  color: #fcfbf7;
}
html a.light:hover::before, html a.light:focus::before {
  background-color: #ff9153;
  height: 30px;
}
html a.text__link--external {
  font-weight: 500;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 3px;
}
html a.text__link--external::before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: #ff554f;
  transition: width 300ms ease-in-out 0s;
  -moz-transition: width 300ms ease-in-out 0s;
  -webkit-transition: width 300ms ease-in-out 0s;
  -o-transition: width 300ms ease-in-out 0s;
}
html a.text__link--external .box {
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  border: 2px solid #ff554f;
  border-radius: 2px;
  margin-left: 10px;
}
html a.text__link--external .box span.arrow {
  color: #fcfbf7 !important;
}
html a.text__link--external .box::before {
  content: " ";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -3px;
  right: -3px;
  background-color: #433554;
}
html a.text__link--external .box .arrow {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  top: -12px;
  right: -6px;
  font-size: 1.4rem;
  font-weight: 500;
}
html a.text__link--external:hover::before, html a.text__link--external:focus::before {
  width: 100%;
}
html .header__nav > ul {
  position: fixed;
  left: 10%;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 500ms ease-in-out 0s;
  -moz-transition: all 500ms ease-in-out 0s;
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
}
html .header__nav > ul li a {
  font-size: 6rem;
  display: block;
}
html .header__nav > ul li:last-child ul {
  margin-top: 30px;
}
html .header__nav > ul li:last-child ul li {
  font-size: 0;
  line-height: 0;
  margin-right: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
html .header__nav > ul li:last-child ul li a {
  padding: 10px;
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #fcfbf7;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html .header__nav > ul li:last-child ul li a::before {
  content: none;
}
html .header__nav > ul li:last-child ul li a:hover, html .header__nav > ul li:last-child ul li a:focus {
  border: 2px solid #ff9153;
  opacity: 1;
}
html .header__nav > ul li:last-child ul li a svg {
  width: 100%;
  fill: #fcfbf7;
}
html #header__btn--toggle {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  z-index: 11;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: #061832;
  border: 2px solid #fcfbf7;
  box-shadow: 0px 4px 24px rgba(6, 24, 50, 0.24);
  line-height: 0.6;
  text-align: center;
  opacity: 0.5;
  transition: all 0.3s;
}
html #header__btn--toggle > span {
  display: inline-block;
  position: relative;
  height: 2px;
  width: 24px;
  border-radius: 1px;
  background: #fcfbf7;
  vertical-align: middle;
  margin-top: -2px;
}
html #header__btn--toggle > span:before, html #header__btn--toggle > span:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  border-radius: 1px;
  background: #fcfbf7;
  transition: all 200ms;
}
html #header__btn--toggle > span:before {
  top: -9px;
  left: 3px;
  width: 18px;
}
html #header__btn--toggle > span:after {
  top: 9px;
  left: 3px;
  width: 18px;
}
html #header__btn--toggle:hover, html #header__btn--toggle:focus {
  opacity: 1;
  border: 2px solid #ff9153;
}
html #header__btn--toggle:hover > span:after, html #header__btn--toggle:hover > span:before {
  width: 24px;
  left: 0;
}
html .header__nav:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100vw;
  height: 100vh;
  background: #061832;
  transition: all 500ms ease-in-out;
  z-index: 2;
  clip-path: circle(20px at calc(100% - 40px) 40px);
  visibility: hidden;
}
html .header__menu.active .header__nav:before {
  visibility: visible;
  clip-path: circle(100%);
}
html .header__menu.active #header__btn--toggle > span {
  height: 0;
}
html .header__menu.active #header__btn--toggle > span:after, html .header__menu.active #header__btn--toggle > span:before {
  top: -2px;
  left: 0;
  width: 24px;
}
html .header__menu.active #header__btn--toggle > span:after {
  transform: rotate(-45deg);
}
html .header__menu.active #header__btn--toggle > span:before {
  transform: rotate(45deg);
}
html .header__menu.active .header__nav > ul {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
html #landing {
  background-color: #433554;
}
html #landing > .container {
  position: relative;
  z-index: 1;
}
html #landing .intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html #landing .about {
  background-color: rgba(6, 24, 50, 0.4);
  padding: 30px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (min-width: 1025px) {
  html #landing .about {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-left: 25%;
    padding: 60px;
  }
  html #landing .about h2 {
    padding-left: 60px;
  }
}
html #landing .skills h3 {
  text-align: center;
  margin-bottom: 30px;
}
html #landing .skills .skills-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
html #landing .skills .skills-row > div {
  width: 100%;
  margin-bottom: 40px;
}
@media (min-width: 1025px) {
  html #landing .skills .skills-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  html #landing .skills .skills-row > div {
    width: calc(33.3333% - 30px);
  }
}
html #landing .skills .skills-row h4 {
  margin-bottom: 20px;
  border-bottom: 2px solid #ff554f;
}
html #landing .skills .skills-row ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
html #landing .skills .skills-row ul li {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  font-size: 1.6rem;
}
html #landing .skills .skills-row ul li::before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: #ff9153;
  opacity: 0.5;
  z-index: -1;
}
html #landing .skills .skills-row ul li span {
  font-size: 2rem;
  font-weight: 500;
}
html #portfolio {
  background-color: #fcfbf7;
  color: #122348;
  position: relative;
  z-index: 8;
}
@media (min-width: 1025px) {
  html #portfolio .container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
}
html #portfolio .h2 {
  margin-bottom: 20px;
}
@media (min-width: 1025px) {
  html #portfolio .h2 {
    font-size: 6.5rem;
    line-height: 1.1;
  }
}
html #portfolio nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-right: 45px;
  margin-bottom: 2vh;
}
@media (min-width: 1025px) {
  html #portfolio nav ul {
    height: 400px;
    margin-bottom: 0;
  }
}
html #portfolio nav ul li a.dark {
  text-decoration: none;
  font-size: 3rem;
}
html #portfolio nav ul li a.dark:hover::before, html #portfolio nav ul li a.dark:focus::before {
  height: 15px;
}
html #portfolio .portfolio__showcase {
  width: 100%;
  min-height: 550px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1025px) {
  html #portfolio .portfolio__showcase {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
html #portfolio .portfolio__showcase > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 769px) {
  html #portfolio .portfolio__showcase > ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}
html #portfolio .portfolio__showcase > ul > li {
  background-color: #122348;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  box-shadow: 0px 5px 12px -4px #433554;
}
html #portfolio .portfolio__showcase > ul > li:last-child {
  margin: 0 auto;
}
@media (min-width: 769px) {
  html #portfolio .portfolio__showcase > ul > li {
    width: calc(50% - 15px);
  }
}
@media (min-width: 1025px) {
  html #portfolio .portfolio__showcase > ul > li {
    height: 100%;
    width: calc(33.333% - 15px);
  }
  html #portfolio .portfolio__showcase > ul > li:last-child {
    margin: initial;
  }
}
html #portfolio .portfolio__showcase > ul > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  aspect-ratio: 4/3;
  padding: 0;
  position: relative;
}
@media (min-width: 1025px) {
  html #portfolio .portfolio__showcase > ul > li > a {
    aspect-ratio: 9/20;
  }
}
html #portfolio .portfolio__showcase > ul > li > a.light::before {
  z-index: initial;
}
html #portfolio .portfolio__showcase > ul > li > a::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(180deg, #ff554f 10%, #ff9153 90%);
  opacity: 0.5;
  transition: opacity 300ms ease-in-out 0s;
  -moz-transition: opacity 300ms ease-in-out 0s;
  -webkit-transition: opacity 300ms ease-in-out 0s;
  -o-transition: opacity 300ms ease-in-out 0s;
}
html #portfolio .portfolio__showcase > ul > li > a img {
  display: block;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
html #portfolio .portfolio__showcase > ul > li > a:hover::after, html #portfolio .portfolio__showcase > ul > li > a:focus::after {
  opacity: 0;
}
html #portfolio .portfolio__showcase #portfolio__design {
  display: none;
}
html #portfolio .portfolio__showcase #portfolio__design > li {
  background-color: #fcfbf7;
}
html #portfolio .portfolio__showcase #portfolio__illustration {
  display: none;
}
html #portfolio .portfolio__showcase .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  background-color: #fcfbf7;
  font-weight: 500;
  font-weight: 1.6rem;
}
html #portfolio .portfolio__showcase .info p {
  padding-right: 5px;
}
html .work__layout--1 .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (min-width: 1025px) {
  html .work__layout--1 .container {
    display: flex;
    flex-direction: row-re;
    align-items: flex-start;
    justify-content: space-between;
  }
}
html .work__layout--1 .work__intro {
  width: 100%;
  position: relative;
}
@media (min-width: 769px) {
  html .work__layout--1 .work__intro {
    height: 700px;
  }
}
@media (min-width: 1025px) {
  html .work__layout--1 .work__intro {
    width: calc(66.666% - 15px);
    height: 900px;
  }
}
html .work__layout--1 .work__intro img {
  width: 100%;
}
html .work__layout--1 .work__intro a {
  color: #fcfbf7;
}
html .work__layout--1 .work__intro .work__intro--d1 {
  display: none;
  aspect-ratio: 4/3;
  overflow: hidden;
}
html .work__layout--1 .work__intro .work__intro--d1::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #ff554f 10%, #ff9153 90%);
  opacity: 0.5;
}
html .work__layout--1 .work__intro .work__intro--d1 img {
  width: 140%;
}
@media (min-width: 769px) {
  html .work__layout--1 .work__intro .work__intro--d1 {
    display: block;
    width: 33.3333%;
    position: absolute;
  }
}
@media (min-width: 1025px) {
  html .work__layout--1 .work__intro .work__intro--d1 {
    left: 0;
  }
}
html .work__layout--1 .work__intro .work__intro--d2 {
  aspect-ratio: 16/9;
  overflow: hidden;
}
@media (min-width: 769px) {
  html .work__layout--1 .work__intro .work__intro--d2 {
    width: calc(100% - 30px);
    position: absolute;
    top: 30%;
    left: 5%;
  }
  html .work__layout--1 .work__intro .work__intro--d2 img {
    width: 125%;
  }
}
@media (min-width: 1025px) {
  html .work__layout--1 .work__intro .work__intro--d2 {
    top: 18%;
  }
}
html .work__layout--1 .work__intro .work__intro--info {
  display: block;
  background-color: #433554;
  padding: 15px 15px 30px;
  border-bottom: 2px solid #ff554f;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 10px 18px -4px #061832;
}
@media (min-width: 769px) {
  html .work__layout--1 .work__intro .work__intro--info {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
@media (min-width: 1025px) {
  html .work__layout--1 .work__intro .work__intro--info {
    bottom: 20%;
    right: 5%;
  }
}
html .work__layout--1 .work__intro .work__intro--info ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  z-index: 3;
}
html .work__layout--1 .work__intro .work__intro--info ul li {
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  align-items: first-baseline;
  justify-content: flex-start;
}
html .work__layout--1 .work__intro .work__intro--info ul li:last-child {
  padding: 30px 0 0;
  margin-bottom: 0;
}
html .work__layout--1 .work__intro .work__intro--info ul li:last-child a.text__link--external {
  font-size: 1.8rem;
}
html .work__layout--1 .work__intro .work__intro--info ul li span {
  font-weight: 500;
  color: #ff9153;
}
html .work__layout--1 .work__about {
  margin-top: 60px;
  width: 100%;
  background-color: rgba(252, 251, 247, 0.9);
  color: #061832;
  padding: 30px 15px 45px;
}
@media (min-width: 1025px) {
  html .work__layout--1 .work__about {
    width: calc(33.3333% - 15px);
  }
}
html .work__layout--1 .work__about .work__about--heading {
  position: relative;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}
html .work__layout--1 .work__about .work__about--heading::before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 2px;
  background-color: #ff554f;
  z-index: -1;
}
html .work__layout--1 .work__about p {
  font-size: 20px;
  margin-bottom: 15px;
}
@media (min-width: 1025px) {
  html .work__layout--1 .work__about p {
    font-size: 1.6rem;
  }
}
html .work__layout--2 .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (min-width: 1025px) {
  html .work__layout--2 .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
}
html .work__layout--2 .work__intro {
  width: 100%;
  position: relative;
}
@media (min-width: 769px) {
  html .work__layout--2 .work__intro {
    height: 700px;
  }
}
@media (min-width: 1025px) {
  html .work__layout--2 .work__intro {
    width: calc(66.666% - 15px);
    height: 900px;
  }
}
html .work__layout--2 .work__intro img {
  width: 100%;
}
html .work__layout--2 .work__intro a {
  color: #fcfbf7;
}
html .work__layout--2 .work__intro .work__intro--d1 {
  display: none;
  aspect-ratio: 4/3;
  overflow: hidden;
  z-index: 2;
}
html .work__layout--2 .work__intro .work__intro--d1::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #ff554f 10%, #ff9153 90%);
  opacity: 0.5;
}
html .work__layout--2 .work__intro .work__intro--d1 img {
  width: 140%;
}
@media (min-width: 769px) {
  html .work__layout--2 .work__intro .work__intro--d1 {
    display: block;
    width: 33.3333%;
    position: absolute;
    bottom: 15%;
    right: 10%;
    z-index: 1;
  }
}
@media (min-width: 1025px) {
  html .work__layout--2 .work__intro .work__intro--d1 {
    right: 10%;
    bottom: 20%;
  }
}
html .work__layout--2 .work__intro .work__intro--d2 {
  aspect-ratio: 16/9;
  overflow: hidden;
}
@media (min-width: 769px) {
  html .work__layout--2 .work__intro .work__intro--d2 {
    position: absolute;
    width: 90%;
    margin: 0 auto;
  }
  html .work__layout--2 .work__intro .work__intro--d2 img {
    width: 100%;
  }
}
@media (min-width: 1025px) {
  html .work__layout--2 .work__intro .work__intro--d2 {
    top: 60px;
  }
}
html .work__layout--2 .work__intro .work__intro--info {
  display: block;
  background-color: #433554;
  padding: 15px 15px 30px;
  border-bottom: 2px solid #ff554f;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 10px 18px -4px #061832;
  z-index: 3;
}
@media (min-width: 769px) {
  html .work__layout--2 .work__intro .work__intro--info {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 50%;
  }
}
@media (min-width: 1025px) {
  html .work__layout--2 .work__intro .work__intro--info {
    bottom: 33%;
    left: 15px;
    width: 75%;
  }
}
html .work__layout--2 .work__intro .work__intro--info ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  z-index: 3;
}
html .work__layout--2 .work__intro .work__intro--info ul li {
  margin-bottom: 15px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  align-items: first-baseline;
  justify-content: flex-start;
}
html .work__layout--2 .work__intro .work__intro--info ul li:last-child {
  padding: 30px 0 0;
  margin-bottom: 0;
}
html .work__layout--2 .work__intro .work__intro--info ul li:last-child a.text__link--external {
  font-size: 1.8rem;
}
html .work__layout--2 .work__intro .work__intro--info ul li span {
  font-weight: 500;
  color: #ff9153;
}
html .work__layout--2 .work__about {
  margin-top: 60px;
  width: 100%;
  background-color: rgba(252, 251, 247, 0.9);
  color: #061832;
  padding: 30px 15px 45px;
}
@media (min-width: 1025px) {
  html .work__layout--2 .work__about {
    width: calc(33.3333% - 15px);
  }
}
html .work__layout--2 .work__about .work__about--heading {
  position: relative;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}
html .work__layout--2 .work__about .work__about--heading::before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 2px;
  background-color: #ff554f;
  z-index: -1;
}
html .work__layout--2 .work__about p {
  font-size: 20px;
  margin-bottom: 15px;
}
@media (min-width: 1025px) {
  html .work__layout--2 .work__about p {
    font-size: 1.6rem;
  }
}
html #devObs {
  background-image: radial-gradient(circle, #122348 0%, #061832 90%);
}
html #devObs .work__intro--d2 {
  border: 1px solid #444;
}

/*# sourceMappingURL=main.css.map */
