/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("//fonts.googleapis.com/css2?family=Inter:wght@200;500;700;900&family=Satisfy&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  font-weight: 500;
}
html body {
  font-size: 1.6rem;
  line-height: 1.5;
}
html body header {
  position: relative;
  z-index: 10;
}
html body section {
  padding: 60px 0;
  position: relative;
}
@media (min-width: 1025px) {
  html body section {
    padding: 100px 0;
  }
}
html body ul {
  margin: 0;
  padding: 0;
  display: flex;
}
html body a.dark {
  transition: all 500ms ease-in-out 0s;
  -moz-transition: all 500ms ease-in-out 0s;
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
}
html body a.light {
  transition: all 500ms ease-in-out 0s;
  -moz-transition: all 500ms ease-in-out 0s;
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
}
html body .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
html body .h1 {
  font-family: "Satisfy", cursive;
  font-size: 4.8rem;
}
@media (min-width: 1025px) {
  html body .h1 {
    font-size: 12rem;
  }
}
html body .h2 {
  font-size: 4rem;
  font-family: "Satisfy", cursive;
}
@media (min-width: 1025px) {
  html body .h2 {
    font-size: 8rem;
  }
}
html body .h3 {
  font-size: 3.2rem;
}
@media (min-width: 1025px) {
  html body .h3 {
    font-size: 5.4rem;
  }
}
html body .h4 {
  font-size: 2.5rem;
}
@media (min-width: 1025px) {
  html body .h4 {
    font-size: 3.6rem;
  }
}

.color-1,
.color-2,
.color-3 {
  position: absolute;
  opacity: 0.2;
  z-index: 1;
}

@keyframes hueRotate {
  to {
    filter: hue-rotate(0deg);
  }
}
@keyframes colour-1 {
  0% {
    top: 0vh;
    left: 50vw;
  }
  25% {
    left: 0vw;
  }
  50% {
    top: 100vh;
  }
  75% {
    left: 100vw;
  }
  100% {
    top: 0vh;
    left: 50vw;
  }
}
@keyframes colour-2 {
  0% {
    top: 50vh;
    left: 100vw;
  }
  25% {
    top: 100vh;
  }
  50% {
    left: 0vw;
  }
  75% {
    top: 0vh;
  }
  100% {
    top: 50vh;
    left: 100vw;
  }
}
@keyframes colour-3 {
  0% {
    top: 100vh;
    left: 50vw;
  }
  25% {
    left: 100vw;
  }
  50% {
    top: 0vh;
  }
  75% {
    left: 0vw;
  }
  100% {
    top: 100vh;
    left: 50vw;
  }
}
.color-1 {
  box-shadow: 0 0 45vmax 45vmax #122348;
  animation: hueRotate 20s 0s linear infinite, colour-1 29s 0s linear infinite;
}

.color-2 {
  box-shadow: 0 0 45vmax 45vmax #ff554f;
  animation: hueRotate 25s 0s linear infinite, colour-2 35s 0s linear infinite;
}

.color-3 {
  box-shadow: 0 0 45vmax 45vmax #ff9153;
  animation: hueRotate 30s 0s linear infinite, colour-3 25s 0s linear infinite;
}

html {
  background-color: #122348;
  color: #fcfbf7;
}
html body .h1 {
  font-size: 10rem;
}
html a {
  padding: 0 4px;
  font-weight: 200;
  text-decoration: none;
}
html a.dark {
  color: #122348;
  position: relative;
}
html a.dark::before {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  top: auto;
  left: 0;
  bottom: 0px;
  z-index: -1;
  background-color: #ff554f;
  opacity: 0.7;
  transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
}
html a.dark:hover, html a.dark:focus {
  color: #122348;
}
html a.dark:hover::before, html a.dark:focus::before {
  background-color: #ff9153;
  height: 15px;
}
html a.light {
  color: #fcfbf7;
  position: relative;
}
html a.light::before {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  top: auto;
  left: 0;
  bottom: 0px;
  z-index: -1;
  background-color: #ff554f;
  opacity: 0.7;
  transition: all 500ms ease-in-out 0s;
  -moz-transition: all 500ms ease-in-out 0s;
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
}
html a.light:hover, html a.light:focus {
  color: #fcfbf7;
}
html a.light:hover::before, html a.light:focus::before {
  background-color: #ff9153;
  height: 30px;
}
html .header__nav > ul {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 500ms ease-in-out 0s;
  -moz-transition: all 500ms ease-in-out 0s;
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
}
html .header__nav > ul li a.light {
  font-size: 6rem;
}
html #header__btn--toggle {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  z-index: 11;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: #061832;
  border: 2px solid #fcfbf7;
  box-shadow: 0px 4px 24px rgba(6, 24, 50, 0.24);
  line-height: 0.6;
  text-align: center;
  opacity: 0.5;
  transition: all 0.3s;
}
html #header__btn--toggle > span {
  display: inline-block;
  position: relative;
  height: 2px;
  width: 24px;
  border-radius: 1px;
  background: #fcfbf7;
  vertical-align: middle;
  margin-top: -2px;
}
html #header__btn--toggle > span:before, html #header__btn--toggle > span:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  border-radius: 1px;
  background: #fcfbf7;
  transition: all 200ms;
}
html #header__btn--toggle > span:before {
  top: -9px;
  left: 3px;
  width: 18px;
}
html #header__btn--toggle > span:after {
  top: 9px;
  left: 3px;
  width: 18px;
}
html #header__btn--toggle:hover, html #header__btn--toggle:focus {
  opacity: 1;
  border: 2px solid #ff9153;
}
html #header__btn--toggle:hover > span:after, html #header__btn--toggle:hover > span:before {
  width: 24px;
  left: 0;
}
html .header__nav:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100vw;
  height: 100vh;
  background: #061832;
  transition: all 500ms ease-in-out;
  z-index: 2;
  clip-path: circle(20px at calc(100% - 40px) 40px);
  visibility: hidden;
}
html .header__menu.active .header__nav:before {
  visibility: visible;
  clip-path: circle(100%);
}
html .header__menu.active #header__btn--toggle > span {
  height: 0;
}
html .header__menu.active #header__btn--toggle > span:after, html .header__menu.active #header__btn--toggle > span:before {
  top: -2px;
  left: 0;
  width: 24px;
}
html .header__menu.active #header__btn--toggle > span:after {
  transform: rotate(-45deg);
}
html .header__menu.active #header__btn--toggle > span:before {
  transform: rotate(45deg);
}
html .header__menu.active .header__nav > ul {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
html #landing {
  background-color: #433554;
}
html #landing > .container {
  position: relative;
  z-index: 1;
}
html #landing .intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
html #landing .about {
  background-color: rgba(6, 24, 50, 0.4);
  padding: 30px;
}
html #portfolio {
  background-color: #fcfbf7;
  color: #122348;
  position: relative;
  z-index: 8;
}
@media (min-width: 1025px) {
  html #portfolio .container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
}
html #portfolio .h2 {
  margin-bottom: 20px;
}
@media (min-width: 1025px) {
  html #portfolio .h2 {
    font-size: 6.5rem;
    line-height: 1.1;
  }
}
html #portfolio nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-right: 45px;
  margin-bottom: 2vh;
}
@media (min-width: 1025px) {
  html #portfolio nav ul {
    height: 550px;
    margin-bottom: 0;
  }
}
html #portfolio nav ul li a.dark {
  text-decoration: none;
  font-size: 3rem;
}
html #portfolio nav ul li a.dark:hover::before, html #portfolio nav ul li a.dark:focus::before {
  height: 15px;
}
html #portfolio .portfolio__showcase {
  width: 100%;
  min-height: 550px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1025px) {
  html #portfolio .portfolio__showcase {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 550px;
  }
}
html #portfolio .portfolio__showcase > ul {
  position: absolute;
  display: block;
  width: initial;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  right: 0;
  bottom: 0;
  padding: 20px 0;
}
@media (min-width: 1025px) {
  html #portfolio .portfolio__showcase > ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 20px;
  }
}
html #portfolio .portfolio__showcase > ul > li {
  background-color: #122348;
  width: 100%;
  height: 33.3333%;
  margin-bottom: 20px;
}
html #portfolio .portfolio__showcase > ul > li:last-child {
  margin-bottom: 0;
}
@media (min-width: 1025px) {
  html #portfolio .portfolio__showcase > ul > li {
    height: 100%;
    width: calc(33.333% - 15px);
  }
}
html #portfolio .portfolio__showcase > ul > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
}
html #portfolio .portfolio__showcase > ul > li > a img {
  display: block;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
html #portfolio .portfolio__showcase #portfolio__design > li {
  background-color: #fcfbf7;
}
html #portfolio .portfolio__showcase .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fcfbf7;
  bottom: 0;
  padding: 10px;
}

/*# sourceMappingURL=main.css.map */
